In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
type(iris)

pandas.core.frame.DataFrame

In [4]:
iris = iris[["species", "sepal_length", "sepal_width",
             "petal_length", "petal_width"]]
iris

       species  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2
..         ...           ...          ...           ...          ...
145  virginica           6.7          3.0           5.2          2.3
146  virginica           6.3          2.5           5.0          1.9
147  virginica           6.5          3.0           5.2          2.0
148  virginica           6.2          3.4           5.4          2.3
149  virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [5]:
iris["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [6]:
iris.loc[iris["species"] == "setosa"]

   species  sepal_length  sepal_width  petal_length  petal_width
0   setosa           5.1          3.5           1.4          0.2
1   setosa           4.9          3.0           1.4          0.2
2   setosa           4.7          3.2           1.3          0.2
3   setosa           4.6          3.1           1.5          0.2
4   setosa           5.0          3.6           1.4          0.2
5   setosa           5.4          3.9           1.7          0.4
6   setosa           4.6          3.4           1.4          0.3
7   setosa           5.0          3.4           1.5          0.2
8   setosa           4.4          2.9           1.4          0.2
9   setosa           4.9          3.1           1.5          0.1
10  setosa           5.4          3.7           1.5          0.2
11  setosa           4.8          3.4           1.6          0.2
12  setosa           4.8          3.0           1.4          0.1
13  setosa           4.3          3.0           1.1          0.1
14  setosa           5.8          4.0           1.2          0.2
15  setosa           5.7          4.4           1.5          0.4
16  setosa           5.4          3.9           1.3          0.4
17  setosa           5.1          3.5           1.4          0.3
18  setosa           5.7          3.8           1.7          0.3
19  setosa           5.1          3.8           1.5          0.3
20  setosa           5.4          3.4           1.7          0.2
21  setosa           5.1          3.7           1.5          0.4
22  setosa           4.6          3.6           1.0          0.2
23  setosa           5.1          3.3           1.7          0.5
24  setosa           4.8          3.4           1.9          0.2
25  setosa           5.0          3.0           1.6          0.2
26  setosa           5.0          3.4           1.6          0.4
27  setosa           5.2          3.5           1.5          0.2
28  setosa           5.2          3.4           1.4          0.2
29  setosa           4.7          3.2           1.6          0.2
30  setosa           4.8          3.1           1.6          0.2
31  setosa           5.4          3.4           1.5          0.4
32  setosa           5.2          4.1           1.5          0.1
33  setosa           5.5          4.2           1.4          0.2
34  setosa           4.9          3.1           1.5          0.2
35  setosa           5.0          3.2           1.2          0.2
36  setosa           5.5          3.5           1.3          0.2
37  setosa           4.9          3.6           1.4          0.1
38  setosa           4.4          3.0           1.3          0.2
39  setosa           5.1          3.4           1.5          0.2
40  setosa           5.0          3.5           1.3          0.3
41  setosa           4.5          2.3           1.3          0.3
42  setosa           4.4          3.2           1.3          0.2
43  setosa           5.0          3.5           1.6          0.6
44  setosa           5.1          3.8           1.9          0.4
45  setosa           4.8          3.0           1.4          0.3
46  setosa           5.1          3.8           1.6          0.2
47  setosa           4.6          3.2           1.4          0.2
48  setosa           5.3          3.7           1.5          0.2
49  setosa           5.0          3.3           1.4          0.2

In [7]:
iris.loc[iris["species"] == "setosa"].describe() # setosa 종의 describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [8]:
iris.loc[iris["species"] == "versicolor"].describe() # versicolor 종의 describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [9]:
iris.loc[iris["species"] == "virginica"].describe() # virginica 종의 describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000